body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    padding: 10px;
    position: relative;
    background: linear-gradient(300deg, #A7E6FF, #050C9C, #3572EF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    
}

.logo img {
    height: 30px;
   
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav-links a:hover {
    background-color: #3ABEF9;
    border-radius: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3ABEF9;
    border-radius: 4px;
}